/*Author: Cameron Rivera*/

/*CSS RESET*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*----Importing fonts-----*/
  @import url('https://fonts.googleapis.com/css2?family=Molle&family=Montserrat&display=swap');

/*-----Color Varirables-----*/
:root {
    --yellow: #F6D64A;
    --teal:#55BCD5;
    --purple:#9B26B0;
    --blue: #499BD2;
    --dark-gray: #222222;
    --light-gray: #EAEAEA;
    --white: #FFFFFF;
    --black: #000000;

}

/*-----Skiplink!-----*/
#skip {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
    }

/*Initializing fonts for certain tags*/
h1, h2, h3 {
    font-family: 'Molle', cursive;
}

/*Specific header tags & misc. styling*/
h4, p, q, small, nav, button, form {
    font-family: 'Montserrat', sans-serif;
}
 

  /*-----BEGIN SMALL SCREEN CSS-----*/
  header {
    background-image: linear-gradient(var(--blue), var(--white))
  }
  body {
    background-color: var(--white);
    text-align: center;
    margin: 0 auto;
}

h4 {
  font-weight: bold;
  text-transform: uppercase;
}

  nav {
      background-color: var(--teal);
  }

  #plan {
    background-color: var(--yellow);
  }

  #about {
    background-color: var(--teal);
  }

  footer {
    background-color: var(--light-gray);
  }

  main {
    display: grid;
    grid-template-columns: 1fr;
  }

  main, footer {
    padding: 1rem;
    width: calc(100% - 2rem);
  }

  #img-grid 
  {
    display: grid;
    grid-template-columns: 1;
    justify-content: center;
    margin: 0 auto;
  }

  img {
    width: 100%;
    display: block;
  }

  #plan {
    display: grid;
  }

  #plan section {
    align-items: center;
    background-color: var(--teal);
    padding: 1rem 1rem;
  }

  section {
    margin: 1rem 1rem;
  }

  #testimonials {
    display: grid;
  }

  #about {
    display: grid;
  }

  #about div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  #about section {
    align-items: center;
    padding: 1rem 1rem;
  }

  form {
    margin: 0 auto;
  }

  .form-required {
    font-style: italic;
    font-weight: normal;
  }

  #contact h3 {
    text-align: left;

  }
  input, label, select, textarea{
    display: block;
    width: 90%;
}

/*-----END SMALL SCREEN STYLING-----*/

/*-----MEDIA QUERIES-----*/

/*-----Medium sized screens-----*/
@media screen and (min-width: 600px) {

  nav h2{
    visibility: hidden;
  }

  ul {
    display: flex;
    flex-direction: row;
  }

  ul li {
    margin: 0 auto;
    margin-left: 2em;
    margin-bottom: 1em;
    background-color: var(--white);
  }

  a {
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
  }

  a:hover {
    background-color: var(--yellow);
  }

  nav {
    display: flex;
    justify-content: center;
  }
  #img-grid {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  picture {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  #plan div {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  #testimonials div {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  #about div {
    display: flex;
  }

  fieldset {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  fieldset label {
    grid-row-start: 2;
  }

  input[type=submit] {
    display: block;
  }
}

/*-----Large sized screens-----*/
@media screen and (min-width: 1000px) {

    #intro {
      display: grid;
      grid-template: "heading images"
                     "paragraph images"
    }

    #intro h2 {
      grid-area: heading;
    }

    #intro p {
      grid-area: paragraph;
    }

    #intro #img-grid {
      grid-area: images;
    }
    
    #plan div {
      display: flex;
      justify-content: center;
    }

    #testimonials div {
      display: flex;
      justify-content: center;
    }
    
    #about div {
      display: flex;
      justify-content: center;
    }

    form {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
}
 




